/* CSS Document */
body{
	margin: 0 auto;
	background-color: #202126; 
}

#midbox{
	position: relative;
	top:400px;
	margin: 0 auto;
	width: 550px;
	height: 180px;
	background-color: #3F3A68;
	padding-top: 40px;
	border: 5px groove #73363E;
}

#notice{
/*	font-family: 'Open Sans', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	text-align:center;
	color: #FF3636;
}